* {
  margin: 0;
  bottom: 0;

  box-sizing: border-box;
}

body {
  background-color: rgba(255, 223, 140, 1);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  outline: 0;
  border: 0;
}

.container {
  background-color: white;
  margin: 45px;
  padding: 60px;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid rgba(246, 246, 246, 1);
  padding-bottom: 35px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 17px;
}

.logo-title {
  color: rgba(24, 24, 24, 1);
  font-size: 24px;
  letter-spacing: 1%;
}

.logo-subtitle {
  color: rgba(123, 123, 123, 1);
  font-size: 16px;
}

.rect {
  width: 1px;
  height: 25px;

  background-color: rgba(255, 255, 255, 0.25);
}

.cart-btn {
  display: flex;
  align-items: center;
  background-color: rgba(254, 95, 30, 1);

  padding: 15px 20px;
  border-radius: 30px;

  color: white;
  gap: 13px;

  font-size: 16px;
}

.cart-quantity {
  display: flex;
  align-items: center;
  gap: 8px;
}

.panel {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs {
  display: flex;
  gap: 8px;
}

.tab {
  background-color: rgba(249, 249, 249, 1);
  color: rgba(44, 44, 44, 1);
  padding: 15px 20px;
  border-radius: 30px;
  cursor: pointer;
}

.tab.active {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(40, 40, 40, 1);
}

.sort {
  position: relative;
}

.sort-list {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.09);

  padding: 10px 0;
  border-radius: 10px;

  position: absolute;
  top: 32px;
  right: 0px;

  height: 135px;
}

.sort-by {
  display: flex;
  gap: 8px;
}

.sort-by-value {
  color: rgba(254, 95, 30, 1);
  cursor: pointer;
}

.sort-list-item {
  padding: 10px 15px;
  cursor: pointer;
}

.sort-list-item.active {
  background-color: rgba(254, 95, 30, 0.05);
  color: rgba(254, 95, 30, 1);
}